body {
    margin: 0 auto;
}

#navigationbar {
    display: inline-block;
    position: relative;
    margin-top: auto;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 50px;
}


.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.navbar-nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: large;
    padding-left: 70%;
}

.nav-item {
margin-right: 30px;
}

.carousel{
    background-color: black;
}

.carousel-item {
width: 80%;
padding-left: 300px;
padding-top: 50px;
padding-bottom: 50px;
}

a {
    text-decoration:none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #ffa600;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
    
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
    
.work {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    padding-right: 50px;
    transition: 0.3s;
}

.work:hover {
    color: #ffa600;
}
    
.about {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    padding-right: 50px;
    transition: 0.3s;
}

.about:hover {
    color: #ffa600;
}
    
.gallery {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    padding-right: 50px;
    transition: 0.3s;
}

.gallery:hover {
    color: #ffa600;
}
    
.contact {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: white;
    cursor: pointer;
    float: right;
    margin-top: 0px;
    padding-right: 25px;
    transition: 0.3s;
}

.contact:hover {
    color: #ffa600;
}
    
.sitename {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    float: left;
    margin-top: 0px;
    padding-left: 25px;
}
   
#intro {
    width: 100%;
    position: fixed;
    background-color: white;
    background-position: center;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 600;
    float: inline-start;
    width: 60%;
    padding-top: 100px;
    padding-left: 30px;
}
    
.dp {
    height: 600px;
    width: 600px;
    float: right;
    padding-top: 25px;
    padding-right: 60px;    
}

button {
    float: left;
    color: white;
    background-color: black;
    margin-left: 35px;
    margin-top: -15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 6px;
    animation: strobe 3s infinite;
}

@keyframes strobe {
    from {background-color:black;}
    50% {background-color:white;
    color: black;}
    to {background-color: black;}
}
    
#sections {
    display: grid;
    position: relative;
    padding-top: 625px;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-column: 1fr;
    grid-template-areas: 
    "uxui"
    "industrialdesign"
    "printing3d"
    "projectgallery";
}

#projects {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "project1 project2 project3"
    "project4 project5 project6"; 
}

.project1 {
    height: 500px;
    background-image: url(../images/project\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 4px solid white;
    grid-area: project1;
    transition: 0.3s;
}

.project1:hover {
    cursor: pointer;
    background-image: url(../images/project1h.png);
}

.project2 {
    background-image: url(../images/project\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 4px solid white;
    grid-area: project2;
    transition: 0.3s;
}

.project2:hover {
    cursor: pointer;
    background-image: url(../images/project2h.png);
}

.project3 {
    background-image: url(../images/project\ 3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 4px solid white;
    grid-area: project3;
    transition: 0.3s;
}

.project3:hover {
    cursor: pointer;
    background-image: url(../images/project3h.png);
}

.project4 {
    background-image: url(../images/project\ 4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    border: 4px solid white;
    grid-area: project4;
    transform: 0.3s;
}

.project4:hover {
    cursor: pointer;
    background-image: url(../images/project4h.png);
}

.project5 {
    background-image: url(../images/project\ 5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 4px solid white;
    grid-area: project5;
    transition: 0.3s;
}

.project5:hover {
    cursor: pointer;
    background-image: url(../images/project5h.png);
}

.project6 {
    background-image: url(../images/project\ 6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border: 4px solid white;
    grid-area: project6;
    transition: 0.3s;
}

.project6:hover {
    cursor: pointer;
    background-image: url(../images/project6h.png);
}

.uxui {
    width: 100%;
    height: 700px;
    grid-area: uxui;
    background-image: url(../images/Section\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: white solid 10px;    
}

.industrialdesign {
    width: 100%;
    height: 700px;
    grid-area: industrialdesign;
    background-image: url(../images/Section\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: white solid 10px;
}

.printing3d {
    width: 100%;
    height: 700px;
    grid-area: printing3d;    
    background-image: url(../images/Section\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: white solid 10px;
}

.projectgallery {
    width: 100%;
    height: 700px;
    grid-area: projectgallery;
    background-image: url(../images/Section\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: white solid 10px;      
}
    
footer { 
    background-color: white;
    display: grid;
    position: relative;
    padding-top: 15px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "footer";    
}

.thefooter {
    width: 100%;
    height: 97px;
    grid-area: footer;
    background-image: url(../images/Footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.altfooter {
    width: 100%;
    height: 97px;
    grid-area: footer;
    background-image: url(../images/Footer2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width:700px) and (min-width:350px) {
p {
    display: none;
}
    
.dp {
    height: 600px;
    width: 600px;
    float: center;
    padding-top: 25px;
    padding-right: 45px;    
}
}


@media only screen and (max-width:1280px) {
#navigationbar {
    display: block;
}

p {
    display: block;
    font-size: 30px;
    font-weight: 600;
    float: inline-start;
    width: 55%;
    padding-top: 100px;
    padding-left: 45px;
}

.dp {
    height: 350px;
    width: 350px;
    float: right;
    padding-top: 25px;
    padding-right: 45px;    
}

button {
    margin-top: -10px;
    margin-left: 45px;
    font-size: 14px;
    padding: 8px;
    animation: none;
}

#sections {
    padding-top: 390px;
    width: 100%;
}

.uxui {
    height: 450px;
}

.industrialdesign {
    height: 450px;
}

.printing3d {
    height: 450px;
}

.projectgallery {
    height: 450px;
}

.thefooter {
    height: 60px;
}

footer {
    padding-top: 1px;
}

.work {
    display: none;
}

.contact {
    display: none;
}

.gallery {
    display: none;
}

.about {
    display: none;
}

.hamburger {
display: block;
cursor: pointer;
float: right;
margin-top: 18px;
padding-right: 25px;
}
}


    
    